.archive
    padding: 0
    list-style: none

.archive-title
    margin-bottom: space-4
    text-transform: uppercase
    letter-spacing: 1px
    font-size: fs-0

.archive li
    margin-bottom: space-4
    display: block

.sitemap aside
    margin-bottom: space-4

.sitemap aside h2
    margin-bottom: space-2
    border-bottom: border
    padding-bottom: space-0

.sitemap aside ul
    padding-left: 30px

.sitemap aside ul ul
    padding-left: 13px

.first-li
    padding: space-2
    background: #f5f5f5

.first-li h2
    font-size: fs-4

.archive-desc
    margin-top: space-2
    font-size: fs-1
    

.archive-nav
    padding: space-2 0 0
    font-size: fs-0
    text-transform: uppercase
    text-align: center
    position: relative
    letter-spacing: 1px

.page-number
    color: color-2
    display: inline-block
    width: 100%
    font-weight: 400

.prev
    position: absolute
    left: 0

.next
    position: absolute
    right: 0