.site-header
    text-align: center

.site-header img
    height: 60px
    width: 60px
    display: inline-block

.site-header h1
    margin: space-3 0 space-0

.site-header p
    font-size: fs-2
    letter-spacing: 1px
    color: color-2

.site-header nav
    display: inline-block
    margin-top: space-3
    font-weight: 700
    font-size: fs-2
    text-transform: uppercase

.site-header li
    margin-right: 10px

.site-header li:last-child
    margin-right: 0
