ff = georgia, serif

fs-0 = 10px
fs-1 = 12px
fs-2 = 14px
fs-3 = 22px
fs-4 = 28px

color-0 = #444
color-1 = #0e83cd
color-2 = #888

border = 1px solid #ddd

space-0 = 5px
space-1 = 10px
space-2 = 20px
space-3 = 30px
space-4 = 40px