@import "_variable"
@import "_base"

.container
    margin: 0 auto
    padding: space-3 0
    width: 90%
    max-width: 600px


body,button,input,select,textarea
    color: color-0
    line-height: 1.5
    font-size: fs-1

a
    color: color-1

a:hover
    color: color-0

h1
    font-size: fs-4
    text-transform: uppercase

h2
    font-size: fs-3

h3
    font-size: fs-2
    font-weight: 700

h4
    font-size: fs-1
    font-weight: 700

.site-main
    margin: space-4 0
    min-height: 250px

time
    border-bottom: border
    display: block
    margin-bottom: space-0
    padding-bottom: space-0
    font-size: fs-0
    text-transform: uppercase
    letter-spacing: 1px

.left
    float: left

.right
    float: right

@import "_header"
@import "_archive"
@import "_post"
@import "_footer"
@import "_syntax"