div.content-nav

    if page.prev
        a(class="prev", href=url_for(config.root + page.prev.path))!= '&larr; Prev'


    if page.next
        a(class="next", href=url_for(config.root + page.next.path))!= 'Next &rarr;'